@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: env(safe-area-inset);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
    font-family: "NTR";
    src: url("../public/NTR-Regular.ttf");
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg);
  }
}
